<div class="d-flex align-items-center flex-wrap py-2">
    {% include 'navbar/panel-administrativo.html' %}
    <!--begin::Daterange-->
    <!--begin::Dropdown-->
    <!--end::Dropdown-->
    {% if request.user.is_authenticated %}
    <a href="/calendar/school"
       class="flex-shrink-0 btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 mr-3"
       id="kt_dashboard_daterangepicker" title="" data-placement="top">
                <span class="opacity-60 font-weight-bolder mr-2"
                      id="kt_dashboard_daterangepicker_title">{% now "d F Y" %}</span>
        <span class="font-weight-bolder" id="kt_dashboard_daterangepicker_date"></span>
    </a>
    <!--end::Daterange-->
    <!--begin::Dropdown-->
    <div class="flex-shrink-0 dropdown dropdown-inline py-1" title=""
         data-placement="top">
        <div
           class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 mr-3"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</div>
        {% if 'students.view_students' in request.user.get_all_permissions  or user.groups.all.0.name == 'Profesores' %}

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right p-0 m-0">
                <!--begin::Navigation-->
                <ul class="navi navi-hover">
                    <li class="navi-header pb-1">
                        <span class="text-primary text-uppercase font-weight-bolder font-size-sm">Editar perfil:</span>
                    </li>
                    <li class="navi-item">
                        <a href="/admin/account" class="navi-link">
                                                        <span class="navi-icon mr-2">
                                                            <span class="svg-icon">
                                                                <!--begin::Svg Icon | path:/keen/theme/demo2/dist/assets/media/svg/icons/General/User.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="24px" height="24px" viewBox="0 0 24 24"
                                                                     version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd">
                                                                        <polygon
                                                                                points="0 0 24 0 24 24 0 24"></polygon>
                                                                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                                                                              fill="#000000" fill-rule="nonzero"
                                                                              opacity="0.3"></path>
                                                                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                                                              fill="#000000"
                                                                              fill-rule="nonzero"></path>
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </span>
                            <span class="navi-text">Change Profile Picture</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a href="/admin/account" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-graph-1"></i>
                                                    </span>
                            <span class="navi-text">New password</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a href="/admin/account/" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-graph-1"></i>
                                                    </span>
                            <span class="navi-text">Otras opciones</span>
                        </a>
                    </li>
                    {% include 'components/links/logout.html' %}
                </ul>
                <!--end::Navigation-->
            </div>
        {% else %}
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right p-0 m-0">
                <!--begin::Navigation-->
                <ul class="navi navi-hover">
                    <li class="navi-header pb-1">
                        <span class="text-primary text-uppercase font-weight-bolder font-size-sm">Edit Profile:</span>
                    </li>
                    <li class="navi-item">
                        <a href="/admin/account/" class="navi-link">
                                                        <span class="navi-icon mr-2">
                                                            <span class="svg-icon">
                                                                <!--begin::Svg Icon | path:/keen/theme/demo2/dist/assets/media/svg/icons/General/User.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="24px" height="24px" viewBox="0 0 24 24"
                                                                     version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd">
                                                                        <polygon
                                                                                points="0 0 24 0 24 24 0 24"></polygon>
                                                                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                                                                              fill="#000000" fill-rule="nonzero"
                                                                              opacity="0.3"></path>
                                                                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                                                              fill="#000000"
                                                                              fill-rule="nonzero"></path>
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </span>
                            <span class="navi-text">Change Profile Picture</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a href="/admin/account/" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="flaticon2-graph-1"></i>
                                                    </span>
                            <span class="navi-text">New password</span>
                        </a>
                    </li>
                    {% include 'components/links/logout.html' %}
                </ul>
                <!--end::Navigation-->
            </div>
        {% endif %}
    </div>
    <!--end::Dropdown-->
    {% else %}
        <span class="text-muted font-weight-bold">¿First time here?
            <a href="/register" id="kt_login_signup" class="text-primary font-weight-bolder">Register your business with us</a>
        </span>
    {% endif %}
</div>