<div class="pb-5" data-wizard-type="step-content">
                                    <h4 class="mb-10 font-weight-bold text-dark">Informacion del Estudiante</h4>
                                    <!--begin::Select-->
                                    <div class="form-group">
                                        <label>Estudiantes</label>
                                        {{ student_form.students }}
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                    <!--end::Select-->
                                </div>