<div class="pb-5" data-wizard-type="step-content">
                                    <!--begin::Section-->
                                    <h4 class="mb-10 font-weight-bold text-dark">Revisa y envia los datos</h4>
                                    <h6 class="font-weight-bolder mb-3">Informacion Personal:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Usuario: <span id="form_input_username"></span></div>
                                        <div>Nombre: <span id="form_input_first_name"></span></div>
                                        <div>Apellido: <span id="form_input_last_name"></span></div>
                                        <div>Email: <span id="form_input_email"></span></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <h6 class="font-weight-bolder mb-3">Informacion de la cuenta:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Direccion: <span id="form_input_address"></span></div>
                                        <div>Telefono: <span id="form_input_telephone"></span></div>
                                        <div>Ciudad: <span id="form_input_city"></span></div>
                                        <div>Pais: <span id="form_input_country"></span></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <h6 class="font-weight-bolder mb-3">Curso</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Curso: <span id="form_input_course"></span></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                </div>