<div class="pb-5" data-wizard-type="step-content">
                                    <!--begin::Section-->
                                    <h4 class="mb-10 font-weight-bold text-dark">Review and send the data</h4>
                                    <h6 class="font-weight-bolder mb-3">Personal information:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Username: <span id="form_input_username"></span></div>
                                        <div>Firstname: <span id="form_input_first_name"></span></div>
                                        <div>Lastname: <span id="form_input_last_name"></span></div>
                                        <div>Email: <span id="form_input_email"></span></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <h6 class="font-weight-bolder mb-3">Informacion de la cuenta:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Name: <span id="form_input_name"></span></div>
                                        <div>Business Email: <span id="form_input_business_email"></span></div>
                                        <div>Address: <span id="form_input_address"></span></div>
                                        <div>Phone: <span id="form_input_telephone"></span></div>
                                        <div>City: <span id="form_input_city"></span></div>
                                        <div>Country: <span id="form_input_country"></span></div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                </div>