{% extends "base.html" %}
{% load static %}

{% block body_class %}container{% endblock %}

{% block extra_css %}

{% comment %}
    Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<!--end::Layout Themes-->

{% endblock extra_css %}

{% block content %}
    {% comment %}
    Delete the line below if you're just getting started and want to remove the welcome screen!
    {% endcomment %}
    {% load i18n wagtailcore_tags wagtailimages_tags %}
    {% include 'user/user_card.html' %}
    <div class="row">
        <div class="col-sm-6">
            {% include 'courses/activity.html' %}
        </div>
        <div class="col-sm-6">
            {% include 'courses/notifications.html' %}
        </div>
    </div>
{% endblock content %}