<div class="card-body">
    <!--begin: Datatable-->
    <table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
        <thead>
            <tr>
                <th>Record ID</th>
                <th>Company Email</th>
                <th>Company Agent</th>
                <th>Company Name</th>
                <th>Status</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>hboule0@hp.com</td>
                <td>Hayes Boule</td>
                <td>Casper-Kerluke</td>
                <td>5</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>hbresnen1@theguardian.com</td>
                <td>Humbert Bresnen</td>
                <td>Hodkiewicz and Sons</td>
                <td>2</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>3</td>
                <td>jlabro2@kickstarter.com</td>
                <td>Jareb Labro</td>
                <td>Kuhlman Inc</td>
                <td>6</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>4</td>
                <td>ktosspell3@flickr.com</td>
                <td>Krishnah Tosspell</td>
                <td>Prosacco-Kessler</td>
                <td>1</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>5</td>
                <td>dkernan4@mapquest.com</td>
                <td>Dale Kernan</td>
                <td>Bernier and Sons</td>
                <td>5</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>6</td>
                <td>hbentham5@nih.gov</td>
                <td>Halley Bentham</td>
                <td>Schoen-Metz</td>
                <td>1</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>7</td>
                <td>bpenddreth6@example.com</td>
                <td>Burgess Penddreth</td>
                <td>DuBuque, Stanton and Stanton</td>
                <td>5</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>8</td>
                <td>csedwick7@wikispaces.com</td>
                <td>Cob Sedwick</td>
                <td>Homenick-Nolan</td>
                <td>3</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>9</td>
                <td>tcallaghan8@squidoo.com</td>
                <td>Tabby Callaghan</td>
                <td>Daugherty-Considine</td>
                <td>2</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>10</td>
                <td>bjarry9@craigslist.org</td>
                <td>Broddy Jarry</td>
                <td>Walter Group</td>
                <td>1</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>11</td>
                <td>mmcgougana@dion.ne.jp</td>
                <td>Marjorie McGougan</td>
                <td>Littel and Sons</td>
                <td>6</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>12</td>
                <td>espriggingb@china.com.cn</td>
                <td>Edsel Sprigging</td>
                <td>Kulas, Huels and Strosin</td>
                <td>6</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>13</td>
                <td>jgouldebyc@cocolog-nifty.com</td>
                <td>Jess Gouldeby</td>
                <td>Moen Group</td>
                <td>5</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>14</td>
                <td>mmatzld@msn.com</td>
                <td>Marys Matzl</td>
                <td>Emard-Gerhold</td>
                <td>2</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>15</td>
                <td>gfranscionie@craigslist.org</td>
                <td>Gabrila Franscioni</td>
                <td>Gusikowski LLC</td>
                <td>4</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>16</td>
                <td>cbookerf@blogs.com</td>
                <td>Cozmo Booker</td>
                <td>Dickinson-Klein</td>
                <td>1</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>17</td>
                <td>alarkingg@elegantthemes.com</td>
                <td>Arlie Larking</td>
                <td>Rosenbaum Group</td>
                <td>4</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>18</td>
                <td>yscogingsh@liveinternet.ru</td>
                <td>Yorker Scogings</td>
                <td>Gorczany LLC</td>
                <td>2</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>19</td>
                <td>dmuscotti@bloomberg.com</td>
                <td>Dominick Muscott</td>
                <td>Swaniawski-Sipes</td>
                <td>2</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>20</td>
                <td>lkynforthj@meetup.com</td>
                <td>Laurette Kynforth</td>
                <td>Torp-Satterfield</td>
                <td>1</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>21</td>
                <td>blycettk@t.co</td>
                <td>Beryl Lycett</td>
                <td>Schoen Inc</td>
                <td>3</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>22</td>
                <td>cboggasl@quantcast.com</td>
                <td>Carny Boggas</td>
                <td>Kuphal LLC</td>
                <td>2</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>23</td>
                <td>daxelbym@about.me</td>
                <td>Dyana Axelby</td>
                <td>Runolfsdottir-Hayes</td>
                <td>2</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>24</td>
                <td>oduffyn@de.vu</td>
                <td>Orelle Duffy</td>
                <td>Roberts and Sons</td>
                <td>5</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>25</td>
                <td>tkindero@hud.gov</td>
                <td>Taylor Kinder</td>
                <td>Terry-Howell</td>
                <td>3</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>26</td>
                <td>eaylesburyp@va.gov</td>
                <td>Emanuele Aylesbury</td>
                <td>Torp LLC</td>
                <td>3</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>27</td>
                <td>dgibkeq@multiply.com</td>
                <td>Dorie Gibke</td>
                <td>Tremblay and Sons</td>
                <td>1</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>28</td>
                <td>mharraginr@arstechnica.com</td>
                <td>Melisandra Harragin</td>
                <td>Turner-Cartwright</td>
                <td>5</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>29</td>
                <td>blampetts@behance.net</td>
                <td>Berenice Lampett</td>
                <td>Johnston-Fritsch</td>
                <td>2</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>30</td>
                <td>tmcmurthyt@psu.edu</td>
                <td>Tammie McMurthy</td>
                <td>Sipes, Conn and Stiedemann</td>
                <td>2</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>31</td>
                <td>djoyesu@microsoft.com</td>
                <td>Dinnie Joyes</td>
                <td>Keebler Group</td>
                <td>5</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>32</td>
                <td>kaxelbeyv@macromedia.com</td>
                <td>Kerianne Axelbey</td>
                <td>Wolff, Sporer and Bechtelar</td>
                <td>6</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>33</td>
                <td>kmacterlaghw@dailymotion.com</td>
                <td>Kiley MacTerlagh</td>
                <td>Hauck Inc</td>
                <td>2</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>34</td>
                <td>tshuttlex@washingtonpost.com</td>
                <td>Trula Shuttle</td>
                <td>Will-Morissette</td>
                <td>5</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>35</td>
                <td>hbrisleny@4shared.com</td>
                <td>Hollis Brislen</td>
                <td>Lowe, Jaskolski and Gulgowski</td>
                <td>4</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>36</td>
                <td>mbattinz@gov.uk</td>
                <td>Marsh Battin</td>
                <td>Fay LLC</td>
                <td>6</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>37</td>
                <td>ppinnion10@state.tx.us</td>
                <td>Patrizio Pinnion</td>
                <td>Haag-Stokes</td>
                <td>2</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>38</td>
                <td>idaouse11@yolasite.com</td>
                <td>Ilario Daouse</td>
                <td>Nitzsche, Davis and Romaguera</td>
                <td>3</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>39</td>
                <td>bcoleborn12@upenn.edu</td>
                <td>Blisse Coleborn</td>
                <td>Bailey, Windler and Marquardt</td>
                <td>6</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>40</td>
                <td>ajouannisson13@issuu.com</td>
                <td>Augustin Jouannisson</td>
                <td>Witting, Reilly and Morar</td>
                <td>3</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>41</td>
                <td>kjennison14@slashdot.org</td>
                <td>Kaleena Jennison</td>
                <td>Johnston Inc</td>
                <td>5</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>42</td>
                <td>mpetronis15@bandcamp.com</td>
                <td>Mariel Petronis</td>
                <td>Mitchell, Bashirian and Schroeder</td>
                <td>5</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>43</td>
                <td>ascroggie16@youku.com</td>
                <td>Adamo Scroggie</td>
                <td>Cartwright Group</td>
                <td>4</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>44</td>
                <td>lkilmartin17@bigcartel.com</td>
                <td>Lewiss Kilmartin</td>
                <td>Stroman-Orn</td>
                <td>3</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>45</td>
                <td>csachno18@blogs.com</td>
                <td>Claretta Sachno</td>
                <td>Zemlak-Cruickshank</td>
                <td>4</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>46</td>
                <td>bvan19@ebay.co.uk</td>
                <td>Bryn Van Castele</td>
                <td>Beier-Mante</td>
                <td>5</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>47</td>
                <td>tgatch1a@4shared.com</td>
                <td>Tades Gatch</td>
                <td>Klocko, Koelpin and Nikolaus</td>
                <td>5</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>48</td>
                <td>rjolland1b@artisteer.com</td>
                <td>Reinold Jolland</td>
                <td>Zieme-Funk</td>
                <td>4</td>
                <td>2</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>49</td>
                <td>kbrainsby1c@hibu.com</td>
                <td>Ky Brainsby</td>
                <td>Towne Inc</td>
                <td>2</td>
                <td>3</td>
                <td nowrap="nowrap"></td>
            </tr>
            <tr>
                <td>50</td>
                <td>sgiddings1d@samsung.com</td>
                <td>Sheryl Giddings</td>
                <td>Grimes, Ryan and Larkin</td>
                <td>3</td>
                <td>1</td>
                <td nowrap="nowrap"></td>
            </tr>
        </tbody>
    </table>
    <!--end: Datatable-->
</div>
					<!--end::Content-->
{#<div class="card card-custom gutter-b">#}
{#    <div class="card-header flex-wrap py-3">#}
{#        <div class="d-flex align-items-center my-2">#}
{#            <a href="javascript:history.go(-1)" class="btn btn-clean btn-icon btn-sm mr-6" data-inbox="back">#}
{#                <i class="flaticon2-left-arrow-1"></i>#}
{#            </a>#}
{#            <div class="card-title">#}
{#                <h3 class="card-label">Lista de Clases#}
{#                </h3>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="card-body">#}
{#        <!--begin: Datatable-->#}
{#        <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <table class="table table-bordered table-checkable dataTable no-footer dtr-inline" id="kt_datatable"#}
{#                           role="grid" aria-describedby="kt_datatable_info" style="width: 1200px;">#}
{#                        <thead>#}
{#                        <tr role="row">#}
{#                            <th>Record ID</th>#}
{#                            <th>Curso/Grado</th>#}
{#                            <th>Profesor</th>#}
{#                            <th>Email</th>#}
{#                            <th>Classroom</th>#}
{#                            <th>Materias</th>#}
{#                            <th>Materias</th>#}
{#                            <th>Acciones</th>#}
{#                            <th>Acciones</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        {% for course in courses %}#}
{#                        <tr>#}
{#                            <td></td>#}
{#                            <td><a href="/courses/id/{{course.id}}">{{ course.name }}</a></td>#}
{#                            <td>{{ course.instructor }}</td>#}
{#                            <td><a href="{{course.classroom.url}}">{{ course.instructor.email }}</a></td>#}
{#                            <td><a href="{{course.classroom.url}}">{{ course.classroom }}</a></td>#}
{#                            <td>{{course.total_subjects}}</td>#}
{#                            <td>{{course.total_subjects}}</td>#}
{#                            <td>{{course.total_subjects}}</td>#}
{#                            <td nowrap="nowrap"></td>#}
{#                        </tr>#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!--end: Datatable-->#}
{#    </div>#}
{#</div>#}