<div class="card card-custom gutter-b">
    <div class="card-header flex-wrap py-3">
        <div class="d-flex align-items-center my-2">
            <a href="javascript:history.go(-1)" class="btn btn-clean btn-icon btn-sm mr-6" data-inbox="back">
                <i class="flaticon2-left-arrow-1"></i>
            </a>
            <div class="card-title">
                <h3 class="card-label">Lista de Clases
                </h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-checkable dataTable no-footer dtr-inline" id="kt_datatable"
                           role="grid" aria-describedby="kt_datatable_info" style="width: 1200px;">
                        <thead>
                        <tr role="row">
                            <th>Record ID</th>
                            <th>Curso/Grado</th>
                            <th>Profesor</th>
                            <th>Email</th>
                            <th>Classroom</th>
                            <th>Horario</th>
                            <th>Materias</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                        <tr>
                            <td>{{course.id}}</td>
                            <td><a href="/courses/id/{{course.id}}">{{ course.name }}</a></td>
                            {% if course.instructor %}
                            <td><a href="/instructor/{{course.instructor.user.id}}">{{ course.instructor }}</a></td>
                            <td><a href="{{course.classroom.url}}">{{ course.instructor.email }}</a></td>
                            {% else %}
                            <td>No hay instructor asignado</td>
                            <td>No hay instructor asignado</td>
                            {% endif %}
                            <td><a href="{{course.classroom.url}}">{{ course.classroom }}</a></td>
                            <td><a href="/calendar/courses/schedule/{{ course.id }}">Horario</a></td>
                            <td>{{course.total_subjects}}</td>
                            <td nowrap="nowrap"></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end: Datatable-->
    </div>
</div>