{% extends "base.html" %}
{% load static %}

{% block body_class %}container{% endblock %}

{% block extra_css %}

{% comment %}
    Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/global/plugins.bundle.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/custom/prismjs/prismjs.bundle.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/wizard/wizard-1.css' %}">

<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<!--end::Layout Themes-->

{% endblock extra_css %}

{% block content %}
    {% comment %}
    Delete the line below if you're just getting started and want to remove the welcome screen!
    {% endcomment %}
    {% load i18n wagtailcore_tags wagtailimages_tags %}

    <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
        <div class="login-form login-forgot">
    <!--begin::Form-->
            Enviado
    <!--end::Form-->
</div>
    </div>

{% endblock content %}

{% block extra_js %}
    {% include 'extra_js/wizard_js.html' %}
    {% include 'extra_js/datepicker.html' %}
{% endblock %}