<div class="login-form login-forgot">
    <!--begin::Form-->
    <form class="form" novalidate="novalidate" method="POST">
        {% csrf_token %}
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">¿Olvidaste la contraseña?</h3>
            <p class="font-weight-bold font-size-h4">Ingresa tu email para recuperar la contraseña</p>
        </div>
        <!--end::Title-->
        <!--begin::Form group-->
        <div class="form-group fv-plugins-icon-container">
            <input class="form-control h-auto p-6 rounded-lg font-size-h6" type="email"
                   placeholder="Email" name="{{ form.email.name }}" autocomplete="off">
            <div class="fv-plugins-message-container"></div>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap pb-lg-0">
            <button type="submit" id="kt_login_forgot_submit"
                    class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">Enviar
            </button>
            <a type="button" href="/"
                    class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">Volver
            </a>
        </div>
        <!--end::Form group-->
        <div></div>
    </form>
    <!--end::Form-->
</div>