<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="d-flex align-items-center my-2">
            <a href="javascript:history.go(-1)" class="btn btn-clean btn-icon btn-sm mr-6" data-inbox="back">
                <i class="flaticon2-left-arrow-1"></i>
            </a>
        </div>
        <div class="card-title">
            <h3 class="card-label">últimas notificaciones</h3><small><a href="/student/notifications/index">Ver todas</a></small>
        </div>
    </div>
    {% if student.new_notifications %}
    <div class="card-body">
        <!--begin::Example-->
        <div class="example example-basic">
            <div class="example-preview">
                <!--begin::Timeline-->
                <div class="timeline timeline-6 mt-3">
                    <!--begin::Item-->
                    {% for notification in student.new_notifications %}
                    <a href="/student/id/{{ request.user.id }}/notification/{{ notification.id }}">
                        <div class="timeline-item align-items-start mt-9 p-5 bg-success-o-50 rounded-lg">
                        <!--begin::Label-->
                        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                            {{ notification.created_at |date:"N d P" }}
                        </div>
                        <!--end::Label-->
                        <!--begin::Badge-->
                        <div class="timeline-badge">
                            <i class="fa fa-genderless text-warning icon-xl"></i>
                        </div>
                        <!--end::Badge-->
                        <!--begin::Text-->
                        <div class="font-weight-mormal font-size-lg timeline-content pl-3">
                            {{ notification.title }}
                        </div>
                            <small>Ver más</small>
                        <!--end::Text-->
                    </div>
                    </a>
                    {% endfor %}
                    {% for notification in student.viewed_notifications %}
                    <a href="/student/id/{{ request.user.id }}/notification/{{ notification.id }}">
                        <div class="timeline-item align-items-start mt-9 p-5">
                        <!--begin::Label-->
                        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                            {{ notification.created_at |date:"N d P" }}
                        </div>
                        <!--end::Label-->
                        <!--begin::Badge-->
                        <div class="timeline-badge">
                            <i class="fa fa-genderless text-warning icon-xl"></i>
                        </div>
                        <!--end::Badge-->
                        <!--begin::Text-->
                        <div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">
                            {{ notification.title }}
                        </div>
                            <small>Ver más</small>
                        <!--end::Text-->
                    </div>
                    </a>
                    {% endfor %}
                    <!--end::Item-->
                </div>
                <!--end::Timeline-->
            </div>
        </div>
    </div>
    {% elif student.viewed_notifications %}
        <div class="example example-basic">
            <div class="example-preview">
                <!--begin::Timeline-->
                <div class="timeline timeline-6 mt-3">
                    <!--begin::Item-->
                    {% for notification in student.new_notifications %}
                    <a href="/student/id/{{ request.user.id }}/notification/{{ notification.id }}">
                        <div class="timeline-item align-items-start mt-9 p-5 bg-success-o-50 rounded-lg">
                        <!--begin::Label-->
                        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                            {{ notification.created_at |date:"N d P" }}
                        </div>
                        <!--end::Label-->
                        <!--begin::Badge-->
                        <div class="timeline-badge">
                            <i class="fa fa-genderless text-warning icon-xl"></i>
                        </div>
                        <!--end::Badge-->
                        <!--begin::Text-->
                        <div class="font-weight-mormal font-size-lg timeline-content pl-3">
                            {{ notification.title }}
                        </div>
                            <small>Ver más</small>
                        <!--end::Text-->
                    </div>
                    </a>
                    {% endfor %}
                    {% for notification in student.viewed_notifications %}
                    <a href="/student/id/{{ request.user.id }}/notification/{{ notification.id }}">
                        <div class="timeline-item align-items-start mt-9 p-5">
                        <!--begin::Label-->
                        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                            {{ notification.created_at |date:"N d P" }}
                        </div>
                        <!--end::Label-->
                        <!--begin::Badge-->
                        <div class="timeline-badge">
                            <i class="fa fa-genderless text-warning icon-xl"></i>
                        </div>
                        <!--end::Badge-->
                        <!--begin::Text-->
                        <div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">
                            {{ notification.title }}
                        </div>
                            <small>Ver más</small>
                        <!--end::Text-->
                    </div>
                    </a>
                    {% endfor %}
                    <!--end::Item-->
                </div>
                <!--end::Timeline-->
            </div>
        </div>
    {% else %}
    <div class="card-body">
        <div class="example-preview">
            No hay notificaciones nuevas
        </div>
    </div>
    {% endif %}
</div>