<!--begin::Content-->
<div class="flex-row-fluid ml-lg-8">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Cambia tu contraseña</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Actualiza tu contraseña</span>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Form-->
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <!--begin::Success-->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <!--end::Success-->
                {% if form.oldpassword.errors %}
                    <div class="alert alert-custom alert-light-danger fade show">
                        {{ form.oldpassword.errors }}
                    </div>
                {% endif %}
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-alert" for="oldpassword">{{ form.oldpassword.label }}</label>
                    <div class="col-lg-9 col-xl-6">
                        {{ form.oldpassword }}
                        <a href="#" class="text-sm font-weight-bold">Olvidaste tu contraseña?</a>
                    </div>
                </div>
                {% if form.password1.errors %}
                    <div class="alert alert-custom alert-light-danger fade show">
                    {{ form.password1.errors }}
                    </div>
                {% endif %}
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-alert" for="password1">{{ form.password1.label }}</label>
                    <div class="col-lg-9 col-xl-6">
                        {{ form.password1 }}
                    </div>
                </div>
                {% if form.password2.errors %}
                    <div class="alert alert-custom alert-light-danger fade show">
                    {{ form.password2.errors }}
                    </div>
                {% endif %}
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label text-alert" for="password2">{{ form.password2.label }}</label>
                    <div class="col-lg-9 col-xl-6">
                        {{ form.password2 }}
                    </div>
                </div>
            {% include 'components/save_btn.html' %}
            </div>
            </div>
        </form>
    </div>
</div>