Django>=3.2,<3.3
wagtail>=2.13,<2.14
djangorestframework>=3.12.2
django-cors-headers>=3.1.7
djangorestframework-simplejwt>=4.6.0
psycopg2>=2.8.6,<2.9
uWSGI>=2.0.19.1,<2.1
django-extensions>=3.1.0
django-allauth>=0.44.0
wagtailmenus>=3.0.2
django-redis>=4.12.1