{% extends "base.html" %}
{% load static %}

{% block body_class %}container{% endblock %}

{% block extra_css %}

    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/global/plugins.bundle.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/custom/prismjs/prismjs.bundle.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.bundle.css' %}">
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

{% endblock extra_css %}

{% block content %}

    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
    {% load i18n wagtailcore_tags wagtailimages_tags %}

        <div class="card card-custom card-stretch gutter-b example example-compact">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <a href="javascript:history.go(-1)" class="btn btn-clean btn-icon btn-sm mr-6" data-inbox="back">
                            <i class="flaticon2-left-arrow-1"></i>
                        </a>
                        <i class="flaticon2-chat-1 text-primary"></i>
                    </span>
                    <h3 class="card-label">Agregar respuestas correctas</h3>
                    <small>todas las opciones de respuestas creadas</small></h3>
                </div>
                <div class="card-toolbar">
                    <a href="/activities/{{ question.activity.id }}/questions/{{ question.id }}/options/create" class="btn btn-sm btn-success font-weight-bold">
                    <i class="flaticon2-cube"></i>Crear Opciones</a>
                </div>
            </div>
            <div class="card-body">
                <select id="kt_dual_listbox_1" class="dual-listbox" multiple>
                    {% for question in questions %}
                        <option value="{{ question.id }}" {% if question.is_correct %} selected {% endif %}>{{ question }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="/activities/{{ question.activity.id }}/questions" class="btn btn-light-primary font-weight-bold">Ver todas las preguntas</a>
            </div>
        </div>

{% endblock content %}

{% block extra_js %}
    {% include 'extra_js/dual-listbox.html' %}
{% endblock %}