{% extends "base.html" %}
{% load static %}

{% block body_class %}container{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
    {% if instructor.main_course %}
        {% include 'instructor/course/subjects.html' %}
    {% elif course %}
        {% include 'instructor/course/students.html' %}
    {% else %}
        {% include 'instructor/subject/students.html' %}
    {% endif %}
{% endblock content %}

{% block extra_js %}
    {% include 'extra_js/basic_js.html' %}
{% endblock %}