{% extends "base.html" %}
{% load static %}

{% block body_class %}container{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<script type="text/javascript" src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pages/features/calendar/basic.js' %}"></script>
<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<!--end::Layout Themes-->

{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

<div class="card card-custom">
 <div class="card-header">
  <div class="card-title">
   <h3 class="card-label">
    Basic Calendar
   </h3>
  </div>
  <div class="card-toolbar">
   <a href="#" class="btn btn-light-primary font-weight-bold">
   <i class="ki ki-plus "></i> Add Event
   </a>
  </div>
 </div>
 <div class="card-body">
  <div id="kt_calendar"></div>
 </div>
</div>
{% endblock content %}

{% block extra_js %}
    {% include 'extra_js/calendar.html' %}
{% endblock %}

