{% extends "base.html" %}
{% load static %}

{% block body_class %}container{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
<link rel="stylesheet" href="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}">
<link rel="stylesheet" href="{% static '/plugins/global/plugins.bundle.css' %}">
<link rel="stylesheet" href="{% static '/plugins/custom/prismjs/prismjs.bundle.css' %}">
<link rel="stylesheet" href="{% static '/css/style.bundle.css' %}">
<link rel="stylesheet" href="{% static '/plugins/custom/datatables/datatables.bundle.css' %}">
<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<!--end::Layout Themes-->

{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

<div class="card card-custom gutter-b">
    <div class="card-body my-9">
        {% include 'students/user_card.html' %}
                <div class="separator separator-solid my-7"></div>
        {% include 'students/courses/list.html' %}
    </div>
</div>
{% endblock content %}
{% block extra_js %}
    {% include 'extra_js/databases.html' %}
{% endblock %}