<div class="pb-5" data-wizard-type="step-content">
    <h4 class="mb-10 font-weight-bold text-dark">Listing Contact Details</h4>
    <!--begin::Input-->
    <div class="card-body">
        <div class="uppy" id="kt_uppy_1">
            <div class="uppy-dashboard"></div>
            <div class="uppy-progress"></div>
        </div>
    </div>
    <div id="upload-list" class="upload-list multiple"></div>
    <input type="text" name="img" class="form-control form-control-solid form-control-lg" hidden="" id="id_img">
    <!--end::Input-->
</div>