<div class="pb-5" data-wizard-type="step-content">
  <h4 class="mb-10 font-weight-bold text-dark">Listing Contact Details</h4>
  <!--begin::Input-->
  <h3>Monday</h3>
  <hr>
  <div class="form-group row">
    <div class="col-lg-4">
      <label for="kt_monday_opening">Opening Hours:</label>
      <input name="monday_opening" class="form-control" id="kt_monday_opening" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your full name</span>
    </div>
    <div class="col-lg-4">
      <label for="kt_monday_closing">Closing Hours:</label>
      <input name="monday_closing" class="form-control" id="kt_monday_closing" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your email</span>
    </div>
    <div class="col-lg-4">
      <div class="radio-inline">
        <label class="radio radio-solid">
          <input type="radio" name="monday" checked="checked" value="1">
          <span></span>Opening Hours</label>
        <label class="radio radio-solid">
          <input type="radio" name="monday" value="2">
          <span></span>Open all day (24 hrs)</label>
        <label class="radio radio-solid">
          <input type="radio" name="monday" value="3">
          <span></span>Closed</label>
      </div>
    </div>
  </div>
  <h3>Tuesday</h3>
  <hr>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>Opening Hours:</label>
      <input name="tuesday_opening" class="form-control" id="kt_tuesday_opening" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your full name</span>
    </div>
    <div class="col-lg-4">
      <label>Closing Hours:</label>
      <input name="tuesday_closing" class="form-control" id="kt_tuesday_closing" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your email</span>
    </div>
    <div class="col-lg-4">
      <div class="radio-inline">
        <label class="radio radio-solid">
          <input type="radio" name="tuesday" checked="checked" value="1">
          <span></span>Opening Hours</label>
        <label class="radio radio-solid">
          <input type="radio" name="tuesday" value="2">
          <span></span>Open all day (24 hrs)</label>
        <label class="radio radio-solid">
          <input type="radio" name="tuesday" value="3">
          <span></span>Closed</label>
      </div>
    </div>
  </div>
  <h3>Wednesday</h3>
  <hr>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>Opening Hours:</label>
      <input name="wednesday_opening" class="form-control" id="kt_wednesday_opening" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your full name</span>
    </div>
    <div class="col-lg-4">
      <label>Closing Hours:</label>
      <input name="wednesday_closing" class="form-control" id="kt_wednesday_closing" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your email</span>
    </div>
    <div class="col-lg-4">
      <div class="radio-inline">
        <label class="radio radio-solid">
          <input type="radio" name="wednesday" checked="checked" value="1">
          <span></span>Opening Hours</label>
        <label class="radio radio-solid">
          <input type="radio" name="wednesday" value="2">
          <span></span>Open all day (24 hrs)</label>
        <label class="radio radio-solid">
          <input type="radio" name="wednesday" value="3">
          <span></span>Closed</label>
      </div>
    </div>
  </div>
  <h3>Thursday</h3>
  <hr>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>Opening Hours:</label>
      <input name="thursday_opening" class="form-control" id="kt_thursday_opening" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your full name</span>
    </div>
    <div class="col-lg-4">
      <label>Closing Hours:</label>
      <input name="thursday_closing" class="form-control" id="kt_thursday_closing" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your email</span>
    </div>
    <div class="col-lg-4">
      <div class="radio-inline">
        <label class="radio radio-solid">
          <input type="radio" name="thursday" checked="checked" value="1">
          <span></span>Opening Hours</label>
        <label class="radio radio-solid">
          <input type="radio" name="thursday" value="2">
          <span></span>Open all day (24 hrs)</label>
        <label class="radio radio-solid">
          <input type="radio" name="thursday" value="3">
          <span></span>Closed</label>
      </div>
    </div>
  </div>
  <h3>Friday</h3>
  <hr>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>Opening Hours:</label>
      <input name="friday_opening" class="form-control" id="kt_friday_opening" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your full name</span>
    </div>
    <div class="col-lg-4">
      <label>Closing Hours:</label>
      <input name="friday_closing" class="form-control" id="kt_friday_closing" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your email</span>
    </div>
    <div class="col-lg-4">
      <div class="radio-inline">
        <label class="radio radio-solid">
          <input type="radio" name="friday" checked="checked" value="1">
          <span></span>Opening Hours</label>
        <label class="radio radio-solid">
          <input type="radio" name="friday" value="2">
          <span></span>Open all day (24 hrs)</label>
        <label class="radio radio-solid">
          <input type="radio" name="friday" value="3">
          <span></span>Closed</label>
      </div>
    </div>
  </div>
  <h3>Saturday</h3>
  <hr>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>Opening Hours:</label>
      <input name="saturday_opening" class="form-control" id="kt_saturday_opening" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your full name</span>
    </div>
    <div class="col-lg-4">
      <label>Closing Hours:</label>
      <input name="saturday_closing" class="form-control" id="kt_saturday_closing" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your email</span>
    </div>
    <div class="col-lg-4">
      <div class="radio-inline">
        <label class="radio radio-solid">
          <input type="radio" name="saturday" checked="checked" value="1">
          <span></span>Opening Hours</label>
        <label class="radio radio-solid">
          <input type="radio" name="saturday" value="2">
          <span></span>Open all day (24 hrs)</label>
        <label class="radio radio-solid">
          <input type="radio" name="saturday" value="3">
          <span></span>Closed</label>
      </div>
    </div>
  </div>
  <h3>Sunday</h3>
  <hr>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>Opening Hours:</label>
      <input name="sunday_opening" class="form-control" id="kt_sunday_opening" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your full name</span>
    </div>
    <div class="col-lg-4">
      <label>Closing Hours:</label>
      <input name="sunday_closing" class="form-control" id="kt_sunday_closing" readonly="readonly" placeholder="Select time" type="text">
      <span class="form-text text-muted">Please enter your email</span>
    </div>
    <div class="col-lg-4">
      <div class="radio-inline">
        <label class="radio radio-solid">
          <input type="radio" name="sunday" checked="checked" value="1">
          <span></span>Opening Hours</label>
        <label class="radio radio-solid">
          <input type="radio" name="sunday" value="2">
          <span></span>Open all day (24 hrs)</label>
        <label class="radio radio-solid">
          <input type="radio" name="sunday" value="3">
          <span></span>Closed</label>
      </div>
    </div>
  </div>
  <!--end::Input-->
</div>