<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">últimas notificaciones</h3><small><a href="/student/notifications/index">Ver todas</a></small>
        </div>
    </div>
    <div class="card-body">
        <!--begin::Example-->
        {% if subject.get_notifications %}
        <div class="example example-basic">
            <div class="example-preview">
                <!--begin::Timeline-->
                <div class="timeline timeline-6 mt-3">
                    <!--begin::Item-->
                    {% for notification in subject.get_notifications %}
                    <a href="">
                        <div class="timeline-item align-items-start mt-9 p-5 bg-success-o-50 rounded-lg">
                        <!--begin::Label-->
                        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                            {{ notification.created_at |date:"N d P" }}
                        </div>
                        <!--end::Label-->
                        <!--begin::Badge-->
                        <div class="timeline-badge">
                            <i class="fa fa-genderless text-warning icon-xl"></i>
                        </div>
                        <!--end::Badge-->
                        <!--begin::Text-->
                        <div class="font-weight-mormal font-size-lg timeline-content pl-3">
                            {{ notification.title }}
                        </div>
                            <small>Ver más</small>
                        <!--end::Text-->
                    </div>
                    </a>
                    {% endfor %}
                    <!--end::Item-->
                </div>
                <!--end::Timeline-->
            </div>
        </div>
        {% else %}
            No hay notificaciones nuevas.
        {% endif %}
    </div>
</div>