<div class="pb-5" data-wizard-type="step-content">
    <!--begin::Section-->
    <h4 class="mb-10 font-weight-bold text-dark">Review and send the data</h4>
    <h6 class="font-weight-bolder mb-3">Listing information:</h6>
    <div class="text-dark-50 line-height-lg">
        <div>Listing Name: <span id="form_input_listing_name"></span></div>
        <div>Description: <span id="form_input_listing_description"></span></div>
        <div>Slug: <span id="form_input_listing_slug"></span></div>
        <div>Genres: <span id="form_input_listing_genres"></span></div>
    </div>
    <div class="separator separator-dashed my-5"></div>
    <!--end::Section-->
    <!--begin::Section-->
    <h6 class="font-weight-bolder mb-3">Listing Contact Details:</h6>
    <div class="text-dark-50 line-height-lg">
        <div>Telephone: <span id="form_input_listing_telephone"></span></div>
        <div>Longitude: <span id="form_input_listing_longitude"></span></div>
        <div>Latitude: <span id="form_input_listing_latitude"></span></div>
        <div>Address: <span id="form_input_listing_address"></span></div>
        <div>City: <span id="form_input_listing_city"></span></div>
        <div>Country: <span id="form_input_listing_country"></span></div>
    </div>
    <div class="separator separator-dashed my-5"></div>
    <!--end::Section-->
    <!--begin::Section-->
    <h6 class="font-weight-bolder mb-3">Opening Hours Details:</h6>
    <div class="text-dark-50 line-height-lg">
        <div>Monday: <span id="form_listing_monday_opening"></span> <span id="form_listing_monday_closing"></span></div>
        <div>Tuesday: <span id="form_listing_tuesday_opening"></span> <span id="form_listing_tuesday_closing"></span></div>
        <div>Wednesday: <span id="form_listing_wednesday_opening"></span> <span id="form_listing_wednesday_closing"></span></div>
        <div>Thursday: <span id="form_listing_thursday_opening"></span> <span id="form_listing_thursday_closing"></span></div>
        <div>Friday: <span id="form_listing_friday_opening"></span> <span id="form_listing_friday_closing"></span></div>
        <div>Saturday: <span id="form_listing_saturday_opening"></span> <span id="form_listing_saturday_closing"></span></div>
        <div>Sunday: <span id="form_listing_sunday_opening"></span> <span id="form_listing_sunday_closing"></span></div>
    </div>
    <h6 class="font-weight-bolder mb-3">Image Details:</h6>
    <div class="text-dark-50 line-height-lg">
        <div>Img ID: <span id="form_listing_img"></span></div>
        <div>Name: <span id="form_listing_img_name"></span></div>
        <div>Tags: <span id="form_listing_img_tag"></span></div>
    </div>
    <div class="separator separator-dashed my-5"></div>
    <!--end::Section-->
</div>